.additional-products-list {
  margin-bottom: 35px;
}

.additional-products-list__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}
