.button {
  color: #ffffff;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none;
}

.button--primary {
  color: #000000;
  line-height: 16px;
  background-color: transparent;
}

.button--secondary {
  color: inherit;
  background-color: #f2f2f2;
}
