.card {
  box-sizing: border-box;
  padding: 20px 6.25% 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 17px;
}

.card__link-image {
  justify-self: center;
  align-self: center;
}

.card__link {
  text-decoration: none;
}

.card__title {
  margin: 0;
  margin-bottom: 14px;
  padding-right: 64px;
}

.card__button {
  grid-column: 1/-1;
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-direction: column;
    padding: 0 37px 40px;
    gap: 0;
  }

  .card__link-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 210px;
    margin-bottom: 22px;
  }

  .card__link {
    margin-bottom: 21px;
  }

  .card__title {
    text-align: center;
    padding: 0 60px;
  }

  .card__wrapper {
    margin-bottom: auto;
  }
}

@media (min-width: $desctop-width) {
  .card {
    padding: 0 36.5px 40px;
  }

  .card__link-image {
    min-width: 172px;
  }

  .card__title {
    padding: 0 20px;
    margin-bottom: 23.4px;
  }
}
