.contacts {
  position: relative;
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 26px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts__invite,
.contacts__address {
  margin: 0;
}

.contacts__invite {
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $font-family-lato;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 628px;
    grid-template-columns: 163px 157px;
    column-gap: 308px;
    padding: 61px 0;
    box-sizing: border-box;
  }

  .contacts__invite {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}

@media (min-width: $desctop-width) {
  .contacts__wrapper {
    column-gap: 87px;
    justify-content: center;
    position: absolute;
    background-color: #ffffff;
    width: 565px;
    top: 95px;
    left: 110px;
  }
}
