.example {
  width: 280px;
  margin: 0 auto;
}

.example__description {
  font-family: $font-family-lato;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .example {
    width: 708px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desctop-width) {
  .example {
    width: 1220px;
  }
}
