.footer__contacts {
  overflow: hidden;
}

.footer__logo {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .footer__logo-link {
    flex-basis: 128px;
    margin-right: 160px;
  }
}

@media (min-width: $desctop-width) {
  .footer__logo-link {
    margin-right: 416px;
  }
}
