.navigation__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .navigation__link {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desctop-width) {
  .navigation__link {
    color: #ffffff;
    line-height: normal;
  }
}
