.page__body {
  margin: 0;
}

.page__header {
  margin-bottom: 20px;
}

.page__type-food {
  margin-bottom: 20px;
}

.page__product-operation {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.page__products {
  margin-bottom: 25px;
}

.page__additional-products {
  padding: 0 6.25%;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .page__header {
    margin-bottom: 0;
  }

  .page__type-food {
    margin-bottom: 45px;
  }

  .page__product-operation {
    width: 100%;
    margin-bottom: 45px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
    }
  }

  .page__products {
    margin-bottom: 70px;
  }

  .page__additional-products {
    padding: 0;
    width: 708px;
    margin: 0 auto;
    margin-bottom: 75px;
  }
}

@media (min-width: $desctop-width) {
  .page__header {
    margin: 0 auto 82px;
  }

  .page__type-food {
    margin-bottom: 71px;
  }

  .page__product-operation {
    margin-bottom: 69px;

    &::after {
      display: none;
    }
  }

  .page__products {
    margin-bottom: 45px;
  }

  .page__additional-products {
    width: 1220px;
    margin-bottom: 87px;
  }
}
