@media (min-width: $desctop-width) {
  .pet-form {
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
    column-gap: 80px;
  }

  .pet-form__pet-information {
    padding-right: 0;
  }

  .pet-form__product-type {
    padding-left: 0;
  }

  .pet-form__owner-contacts,
  .pet-form__comment,
  .pet-form__additional {
    grid-column: 1/-1;
  }
}
