.pet-form__title {
  width: 100%;
  padding: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 57.69%;
    left: 6.25%;
    right: -100%;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
  }
}

.pet-form__title-text {
  display: inline-block;
  background-color: #ffffff;
  padding-right: 20px;
}

.pet-form__product-type {
  padding: 22px 0 19px 0;
  margin-bottom: 26px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.pet-form__pet-information,
.pet-form__product-type-wrapper {
  width: 280px;
  margin: 0 auto;
}

.pet-form__pet-information {
  margin-bottom: 24px;
}

.pet-form__label,
.pet-form__control-label {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.pet-form__label {
  position: relative;
  column-gap: 13px;
  margin-bottom: 14px;
}

.pet-form__text-input {
  align-self: start;
}

.pet-form__email-image,
.pet-form__phone-image {
  position: absolute;
  top: 12px;
  right: 11px;
  --icon-color: #000000;
}

.pet-form__signature {
  max-width: 100px;
  word-wrap: break-word;
}

.pet-form__control-label {
  column-gap: 15px;
  margin-bottom: 13px;
}

.pet-form__owner-contacts {
  margin-bottom: 24px;

  .pet-form__title {
    margin-bottom: 35px;

    &::after {
      top: 30.77%;
    }
  }
}

.pet-form__comment {
  margin-bottom: 23px;

  .pet-form__title {
    margin-bottom: 38px;
  }
}

.pet-form__comment-block {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
}

.pet-form__additional {
  margin-bottom: 34px;

  .pet-form__title {
    margin-bottom: 34px;
  }
}

.pet-form__button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 21px;
}

.pet-form__require {
  text-align: center;

  small {
    color: #000000;
    font-family: $font-family-lato;
    font-size: 14px;
    margin: 0;
    margin-bottom: 32px;
  }
}

@media (min-width: $tablet-width) {
  .pet-form__title {
    &::before,
    &::after {
      position: absolute;
      top: 61.11%;
    }

    &::before {
      content: "";
      left: -100%;
      right: 100%;
      height: 2px;
      background-color: #68b738;
      transform: translateX(-6.21%);
    }
  }

  .pet-form__title-text {
    padding-right: 40px;
  }

  .pet-form__pet-information,
  .pet-form__product-type-wrapper {
    width: 628px;
    box-sizing: border-box;
  }

  .pet-form__pet-information {
    margin-bottom: 72px;
  }

  .pet-form__label {
    margin-bottom: 20px;
  }

  .pet-form__signature {
    max-width: 130px;
  }

  .pet-form__product-type {
    padding: 0;
    margin-bottom: 65px;
    border: none;
  }

  .pet-form__product-type-wrapper {
    padding: 22px 26px 26px;
    border: 1px solid #e7e7e7;
  }

  .pet-form__control-label {
    column-gap: 20px;
    margin-bottom: 13px;
  }

  .pet-form__owner-contacts {
    margin-bottom: 65px;

    .pet-form__title {
      margin-bottom: 76px;

      br {
        display: none;
      }

      &::after {
        position: absolute;
        top: 61.11%;
      }
    }
  }

  .pet-form__email-image,
  .pet-form__phone-image {
    top: 15px;
    right: 13px;
  }

  .pet-form__comment {
    margin-bottom: 65px;

    .pet-form__title {
      margin-bottom: 87px;
    }
  }

  .pet-form__additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 50px;
    align-items: start;
    margin-bottom: 52px;

    .pet-form__title {
      margin-bottom: 57px;
    }

    .pet-form__control-label {
      margin-bottom: 0;
    }
  }

  .pet-form__comment-block {
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
  }

  .pet-form__button,
  .pet-form__require {
    margin: 0;
  }

  .pet-form__button {
    display: inline-block;
    width: 284px;
    margin-right: 60px;
  }

  .pet-form__require {
    display: inline-block;

    small {
      font-size: 16px;
    }
  }
}

@media (min-width: $desctop-width) {
  .pet-form__pet-information,
  .pet-form__product-type-wrapper {
    width: 570px;
  }

  .pet-form {
    display: grid;
  }

  .pet-form__title {
    &::before {
      transform: translateX(-3.78%);
    }
  }

  .pet-form__pet-information,
  .pet-form__product-type {
    margin: 0;
  }

  .pet-form__product-type-wrapper {
    padding: 24px 27px;
  }

  .pet-form__owner-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    column-gap: 80px;
    row-gap: 20px;

    .pet-form__label {
      margin: 0;
    }
  }

  .pet-form__email-image,
  .pet-form__phone-image {
    right: 15px;
  }

  .pet-form__comment {
    margin-bottom: 70px;

    .pet-form__title {
      margin-bottom: 76px;
    }
  }

  .pet-form__additional {
    margin-bottom: 60px;
    display: flex;
    gap: 15px;

    .pet-form__title {
      margin-bottom: 57px;
    }

    .pet-form__control-label {
      flex-basis: 290px;
    }
  }

  .pet-form__button {
    margin-right: 80px;
    width: 570px;
  }

  .pet-form__require {
    justify-self: start;
  }
}
