.products__list {
  // width: 320px;
  // margin: 0 auto;
}

.products__show-more {
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .products__list {
    margin: 0 auto;
    width: 708px;
  }

  .products__show-more {
    min-height: 429px;
    align-self: end;
  }
}

@media (min-width: $desctop-width) {
  .products__list {
    width: 1220px;
  }
}
