.products-list__item {
  width: 100%;
  border-bottom: 1px solid #ebebeb;

  &:first-child {
    border-top: 1px solid #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .products-list__item {
    background-image: linear-gradient(to bottom, #ffffff 81px, #f2f2f2 81px);
    min-height: 511px;
    border: none;

    &:first-child {
      border: none;
    }
  }
}

@media (min-width: $desctop-width) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}
