.product-operation__title {
  margin: 0;
  margin-bottom: 40px;
}

.product-operation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-operation__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;

    br {
      display: none;
    }
  }
}

.product-operation__description {
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-family: $font-family-lato;
  font-size: 14px;
  line-height: 18px;

  &::before {
    display: block;

    content: "";
    min-width: 60px;
    min-height: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
  }
}

.product-operation__item--helpful {
  .product-operation__description {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-list");
    }
  }
}

.product-operation__item--fast {
  .product-operation__description {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-powder");
    }
  }
}

.product-operation__item--small-amount {
  .product-operation__description {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-cutlery");
    }
  }
}

.product-operation__item--quick-reuslt {
  .product-operation__description {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-watch");
    }
  }
}

@media (min-width: $tablet-width) {
  .product-operation__title {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .product-operation__list {
    counter-reset: item-count;
    display: grid;
    grid-template-columns: 245px 245px;
    gap: 37px 135px;
    width: 708px;
    margin: 0 auto;
    margin-bottom: 47px;
  }

  .product-operation__item {
    position: relative;
    margin: 0;

    display: grid;
    grid-template-columns: 47% min-content;

    &::before {
      grid-column: 2/-1;
      grid-row: span 1/2;
      counter-increment: item-count;
      content: counter(item-count);
      font-family: $font-family-oswald;
      color: #f2f2f2;
      font-size: 280px;
      line-height: 1em;
      z-index: -1;
    }

    &:last-child {
      br {
        display: inline;
      }
    }
  }

  .product-operation__description {
    grid-column: 1/-1;
    grid-row: span 1/2;
    display: block;
    padding: 40px 0;
    font-size: 16px;
    line-height: 24px;

    &::before {
      min-width: 80px;
      min-height: 80px;
      background-size: 80px 80px;
      margin-bottom: 31px;
    }
  }
}

@media (min-width: $desctop-width) {
  .product-operation__title {
    width: 1220px;
  }

  .product-operation__list {
    width: 1220px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 0;
  }
}
