.promo {
  width: 280px;
  margin: 0 auto;
}

.promo__slogan {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}
