.promo-wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(104, 183, 56, 0.85) 302px,
      #ffffff 302px
    ),
    url("../../images/promo-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to bottom,
        rgba(104, 183, 56, 0.85) 302px,
        #ffffff 302px
      ),
      url("../../images/promo-background-mobile@2x.jpg");

  }
}

@media (min-width: $tablet-width) {
  .promo-wrapper {
    background-image: none;
  }
}
