.questionnaire__title,
.questionnaire__description {
  width: 280px;
  margin: 0 auto;
}

.questionnaire__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .questionnaire__title,
  .questionnaire__description {
    width: 628px;
  }

  .questionnaire__description {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desctop-width) {
  .questionnaire__title,
  .questionnaire__description {
    width: 1220px;
  }
}
