.radio {
  min-height: 30px;
}

.radio__custom {
  content: "";
  position: relative;
  grid-column: 1/2;
  align-self: start;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.radio__input {
  appearance: none;
  margin: 0;

  &:checked + .radio__custom::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #68b738;
  }

  &:hover ~ .radio__custom {
    border-color: #bababa;
  }

  &:disabled ~ .radio__custom {
    opacity: 0.3;
  }

  &:disabled ~ .radio__signature {
    opacity: 0.3;
  }
}

.radio__signature {
  max-width: 230px;
}

@media (min-width: $tablet-width) {
  .radio__custom {
    width: 38px;
    height: 38px;
  }

  .radio__input {
    &:checked + .radio__custom::before {
      width: 18px;
      height: 18px;
    }
  }

  .radio__signature {
    max-width: 570px;
  }
}
