.radio {
  position: relative;
  padding-left: 30px;
  min-height: 30px;
}

.radio__custom {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
}

.radio__input {
  appearance: none;
  margin: 0;

  &:checked + .radio__custom::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #68b738;
  }
}
