.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__logo {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .social__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
