.statistic__title {
  font-family: $font-family-lato;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.statistic__index {
  color: #000000;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}
