.text-input {
  padding: 13px 13px 12px 14px;
  color: #444444;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  &--mail,
  &--phone {
    padding-right: 40px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-visible {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline-color: #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .text-input {
    padding: 10px 19px;
    font-size: 20px;
    line-height: normal;

    &--mail,
    &--phone {
      padding-right: 50px;
    }
  }
}

@media (min-width: $desctop-width) {
  .text-input--area {
    padding: 9px 20px;
  }
}
