.text-input {
  padding: 13px 13px 12px 14px;
  color: #444444;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .text-input {
    padding: 10px 19px;
    font-size: 20px;
    line-height: normal;
  }
}

@media (min-width: $desctop-width) {
  .text-input--area {
    padding: 9px 20px;
  }
}
