.title {
  color: #222222;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  &--page-title-main {
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
  }

  &--subtitle {
    color: #000000;
    font-size: 24px;
    line-height: 37px;
  }

  &--section-title {
    color: #000000;
    font-size: 36px;
    line-height: 40px;
  }

  &--page-title {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
  }

  &--form {
    color: #000000;
    font-size: 24px;
    line-height: 26px;
  }

  &--additional {
    color: #000000;
    font-size: 24px;
    line-height: 24px;
  }

  &--additional-product {
    line-height: 16px;
  }
}
