.title {
  color: #222222;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  &--page-title-main {
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
  }

  &--subtitle {
    color: #000000;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &--section-title {
    color: #000000;
    font-size: 36px;
    line-height: 40px;
  }

  &--page-title {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
  }

  &--form {
    color: #000000;
    font-size: 24px;
    line-height: 26px;
  }

  &--additional {
    color: #000000;
    font-size: 24px;
    line-height: 24px;
  }

  &--additional-product {
    line-height: 16px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 20px;
    line-height: 24px;

    &--page-title-main {
      color: #000000;
      font-size: 60px;
      line-height: 60px;
    }

    &--subtitle {
      font-size: 36px;
      line-height: 36px;
    }

    &--section-title {
      font-size: 60px;
      line-height: 60px;
    }

    &--page-title {
      font-size: 60px;
      line-height: 60px;
    }

    &--form {
      font-size: 36px;
      line-height: 36px;
    }

    &--additional {
      font-size: 36px;
      line-height: 36px;
    }

    &--additional-product {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 20px;
    }
  }
}
